<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kosmo.kdm.mapper.BoardMapper">
	
	<resultMap id="boardMap" type="edu.kosmo.kdm.vo.BoardVO">
	<result property="id" column="id"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="bdate" column="bdate"/>
	<result property="hit" column="hit"/>
	<result property="bgroup" column="bgrup"/>
	<result property="step" column="step"/>
	<result property="indent" column="indent"/>
	<result property="member_id" column="member_id"/>
	<result property="boardtype_id" column="boardtype_id"/>
</resultMap>
	
	<resultMap id="memberMap" type="edu.kosmo.kdm.vo.MemberVO">
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
		
	<select id="getList" resultMap="boardMap">
	
			select * from member, board where member.id = board.member_id order by board.bgroup desc, board.step asc and member.id = #{member_id}
		
	</select>
	

	
	<select id="read" resultType="edu.kosmo.kdm.vo.BoardVO">
	<![CDATA[
		select * from board where id = #{id}
	]]>
	</select>
	
	<insert id="insert" >
	<![CDATA[
	
	insert into board (id, title, content, hit, bgroup, step, indent, member_id) values (board_seq.nextval, #{title},  #{content}, 0, board_seq.currval, 0, 0 , #{principal.id})
		
	]]>
	</insert>
	
	
	<update id="updateShape" >
	<![CDATA[
		update board set step = step+1 where bgroup = #{bgroup} and step > #{step}
	]]>
	</update>
	
	<insert id="insertReply" >
	<![CDATA[
		insert into board (id, title, content, bgroup, step, indent, member_id) values (board_seq.nextval, #{title}, #{content}, #{bgroup}, #{step}+1, #{indent}+1, #{member_id})
	]]>
	</insert>
	
	<delete id="delete" >
	<![CDATA[
		delete from board where id = #{id}
	]]>
	</delete>
	
	<update id="update" >
	<![CDATA[
		update board set title = #{title}, content = #{content}, member_id ={member_id} where id = #{id}
	]]>
	</update>
	
	<update id="updateHit" >
	<![CDATA[
		update board set hit = hit + 1 where id = #{id}
	]]>
	</update>
	
		<select id="getTotalCount" resultType="int">
   <![CDATA[
      select count(*) from board
   ]]>
	</select>

	<!-- 열개씩 뽑아내는거 한페이지에 출력해주는 역할 -->
	<select id="getListWithPaging"
		resultType="edu.kosmo.kdm.vo.BoardVO">
   <![CDATA[
               SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             board 
                         order by bgroup desc, step asc   
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      
   
   ]]>
	</select>
	
</mapper>
