<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.kdm.mapper.MemberMapper">

	<resultMap id="memberMap" type="edu.kosmo.kdm.vo.MemberVO">
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>

	<resultMap id="authMap" type="edu.kosmo.kdm.vo.AuthVO">
			<result property="member_id" column="member_id" />
				<result property="role" column="role" />
		<result property="authority" column="authority" />
	
	</resultMap>

	<select id="getMember" resultMap="memberMap">

		select * from member , authorities
		where member.id = authorities.member_id and member.id = #{id}

	</select>


</mapper>